@using VoteBlazor.Components.Pages.Components 
@inherits CandidateBase
 
<div>
    <div>
        @foreach (var addComponent in addComponents)
        {
            @addComponent
        }
    </div>
    @if (CandidateList != null && CandidateList.Count > 0)
    {
        <div class="overflow-scroll" style="height:200px">
        <table class="table">
            <thead>              
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Votes#</th>
                    <th><button class="btn btn-primary" @onclick="AddNewComponent">Add Candidate</button></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var candidate in CandidateList)
                {
                    <tr>
                        <td>@candidate.Id</td>
                        <td>@candidate.Name</td>
                        <td>@candidate.VotesCount</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    }
    else
    {
        <p>No candidates available.</p>
        <button class="btn btn-primary" @onclick="AddNewComponent">Add Candidate</button>
    }
</div>