@using VoteBlazor.Components.Pages.Components
@page "/candidate"
@inherits CandidateBase

@if (CandidateList == null && CandidateList?.Count > 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr> Candidates List </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidate in CandidateList)
            {
                <tr>
                    <td>@candidate.Id</td>
                    <td>@candidate.Name</td>
                </tr>
            }
        </tbody>
    </table>
}