@using VoteBlazor.Components.Pages.Components 
@inherits CandidateBase
 
<div>
    @if (CandidateList != null && CandidateList.Count > 0)
    {
        <table class="table">
            <thead>              
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var candidate in CandidateList)
                {
                    <tr>
                        <td>@candidate.Id</td>
                        <td>@candidate.Name</td>
                        <td>@candidate.VotesCount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No candidates available.</p>
    }

    <button class="btn btn-primary" @onclick="AddNewComponent">Add</button>
    @foreach (var addComponent in addComponents)
    {
        @addComponent
    }
</div>