@page "/castvote" 
@attribute [StreamRendering]

<PageTitle>Cast your vote</PageTitle>

<h1>Vote for the Candidate</h1>

<p>Candidate Profile</p>
@* 
@if (Voters == null || Candidates == null)
{
    <p><em>Loading...</em></p>
}
else
{
}
  *@